.testClass {
  color: red;
}

#nun {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 200px;
}

#chatbox {
  width: 400px;
  height: 280px;
  background: url('./assets/chatbox-with-wings.png');
  background-size: contain;
  overflow-y: scroll;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
  position: absolute;
}

.center {
  margin: auto;
  left: 0px;
  right: 0px;
  padding: 10px;
} 
