.testClass {
  color: red;
}

#nun {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 200px;
}

#chatbox {
  width: 520px;
  height: 330px;
  background: url('./assets/chatbox.png');
  background-size: cover;
  overflow-y: scroll;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
} 
