.testClass {
  color: red;
}

#nun {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 300px;
}

#chatbox {
  margin-top: 120px;
  width: 400px;
  height: 280px;
  background: url('./assets/chatbox-with-wings.png');
  background-size: contain;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 100px;
  padding-bottom: 100px;
  position: absolute;
}

#chattext {
  overflow-y: scroll;
  width: 100%;
  height: 240px;
}

.center {
  margin: auto;
  left: 0px;
  right: 0px;
  padding: 10px;
} 

#header {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 300px;
  z-index: -1;
}

form {
  margin-top: 10px;
}
